<div class="container">
    <h1 class="title">About SWT Dashboard</h1>
    <div class="content">
        <p><strong>Creator:</strong> dooboostore@gmail.com</p>
        <p><strong>License:</strong> MIT Licence</p>
        <p><strong>GitHub:</strong> <a href="https://github.com/dooboostore-develop/swt" target="_blank">https://github.com/dooboostore-develop/swt</a></p>
        <p><strong>NPM:</strong> <a href="https://www.npmjs.com/package/@dooboostore/swt" target="_blank">https://www.npmjs.com/package/@dooboostore/swt</a></p>
    </div>
</div>
