.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header-container {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
}

.display-container {
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    overflow: hidden;
}

.status-bar {
    padding: 5px 10px;
    background-color: #e9e9e9;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    font-size: 12px;
    font-family: monospace;
}

.preview-wrapper {
    flex: 1;
    flex-direction: row;
    display: flex;
    /*justify-content: center;*/
    /*align-items: flex-start;*/
    overflow: hidden;
    padding: 10px;
}
.display-canvas-container {
    flex:5;
}
.swt-elements-container {
  border: 1px solid #eee;
  padding: 5px;
  flex: 1;
  margin-left: 10px;
  overflow-y: auto;
}

.swt-elements-container h3 {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 5px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  margin: -5px -5px 5px -5px;
}



.display-canvas {
    border: 1px solid #000;
    background-color: white;
    /*transform-origin: top left;*/
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.log-container {
    padding: 10px;
    border-top: 1px solid #ccc;
    flex-shrink: 0;
}

.log-container textarea {
    width: 100%;
    height: 100px;
    resize: vertical;
}

.control-container {
    padding: 10px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.control-container input[type="range"] {
    width: 100%;
}

.swt-element-item {
    border: 1px solid; /* Color will be dynamic */
    padding: 3px;
    margin-bottom: 5px;
    font-size: 10px;
}
